<div class="modal fade" id="loginModal" tabindex="-1" role="">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 350px; height: 150px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <H5 class="card-title">Log in</H5>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="" action="">
            <div class="card-body">

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                  <input type="password" placeholder="Password..." class="form-control">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-signup" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 900px; height: 100px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <H5 class="card-title">Register</H5>
          </div>
        </div>
        <div class="modal-body">
          <form-wizard>
            <wizard-step>
              <div class="row">
                <div class="col-md-4 col-ml-auto">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" [src]="url"
                         alt="Card image cap">
                    <span class="btn btn-raised btn-round btn-default btn-file">
                          <span class="fileinput-new">Select image</span>
                          <input type="file" name="selectFile" id="selectFile" (change)="readUrl($event)"/>
                    </span>
                  </div>
                </div>
                <div class="col-md-7 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="material-icons">
                              email
                           </i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contact Number ">
                  </div>
                  <br>
                  <br>
                </div>
              </div>
            </wizard-step>
            <wizard-step>
              <div class="row">
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </wizard-step>
            <wizard-step>
              <div class="row">
                <div class="col-md-2 col-ml-auto"></div>
                <div class="col-md-8 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Company Name">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="material-icons">
                              email
                           </i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Status">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Extra Curriculum's">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Official Number ">
                  </div>
                  <br>
                  <br>
                </div>
                <div class="col-md-2 col-ml-auto"></div>
              </div>
            </wizard-step>
          </form-wizard>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('../../../../assets/img/kit/city.jpg'); height: 20rem;"></div>
<div class="profile-page">
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../../../../assets/img/kit/faces/christian.jpg" alt="Circle Image"
                     class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Kushan Dhananjala</h3>
                <h6>Designer</h6>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based
            Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel
            with a solid groove structure. </p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Studio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Favorite
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../../../../assets/img/kit/free/examples/studio-1.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/studio-2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../../../../assets/img/kit/free/examples/studio-5.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/studio-4.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../../../../assets/img/kit/free/examples/olu-eletu.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../../../../assets/img/kit/free/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../../../../assets/img/kit/free/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../../../../assets/img/kit/free/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/olu-eletu.jpg" class="rounded">
                <img src="../../../../assets/img/kit/free/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
