<div class="modal fade" id="loginModal" tabindex="-1" role="">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 350px; height: 150px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <H5 class="card-title">Log in</H5>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="" action="">
            <div class="card-body">

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                  <input type="password" placeholder="Password..." class="form-control">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-signup" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 900px; height: 100px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <H5 class="card-title">Register</H5>
          </div>
        </div>
        <div class="modal-body">
          <form-wizard>
            <wizard-step>
              <div class="row">
                <div class="col-md-4 col-ml-auto">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" [src]="url"
                         alt="Card image cap">
                    <span class="btn btn-raised btn-round btn-default btn-file">
                          <span class="fileinput-new">Select image</span>
                          <input type="file" name="selectFile" id="selectFile" (change)="readUrl($event)"/>
                    </span>
                  </div>
                </div>
                <div class="col-md-7 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="material-icons">
                              email
                           </i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contact Number ">
                  </div>
                  <br>
                  <br>
                </div>
              </div>
            </wizard-step>
            <wizard-step>
              <div class="row">
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-md-3 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <button class="button button-primary">Architecture</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </wizard-step>
            <wizard-step>
              <div class="row">
                <div class="col-md-2 col-ml-auto"></div>
                <div class="col-md-8 col-ml-auto">
                  <br>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Company Name">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="material-icons">
                              email
                           </i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Status">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Extra Curriculum's">
                  </div>
                  <br>
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Official Number ">
                  </div>
                  <br>
                  <br>
                </div>
                <div class="col-md-2 col-ml-auto"></div>
              </div>
            </wizard-step>
          </form-wizard>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../../../../assets/img/kit/city.jpg'); height: 25rem;"></div>
<div class="profile-page">
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container" *ngFor="let constrcutor of selectedConstructor">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img [src]="constrcutor.ConstructorProfilePicture" alt="Circle Image"
                     class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">{{constrcutor.ConstructorName}}</h3>
                <h6>{{constrcutor.ConstructorRole}}</h6>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 follow">
            <button class="btn btn-fab btn-primary" rel="tooltip" title="Follow this user">
              <i class="material-icons">add</i>
            </button>
            <button class="btn btn-fab btn-primary" rel="tooltip" title="Message this user" style="margin-left: 10%">
              <i class="material-icons">message</i>
            </button>

            <div rel="tooltip" title="Notifications" style="margin-top: -11.2%;margin-left: 38.5%">
              <ul class="navbar-nav ml-auto" style="position: absolute">
                <li class="dropdown nav-item">
                  <a href="" class=" nav-link" data-toggle="dropdown">
                    <div style="background-color: #9c27b0;height: 56.5px;width: 56.5px;border-radius: 50%">
                      <i class="material-icons" style="margin-top: 29%;margin-left: 29%;color: white">notifications_active</i>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-with-icons dropdown-menu-right" style="border: 3px solid #b3b3b3">
                    <li class="dropdown-item row" style="cursor: pointer;border-bottom: 4px solid #9c27b0"
                        *ngFor="let comments of selectedComments">
                      <img class="col-md-2" style="height: 40px;width: 40px;margin-left: -4%"
                           [src]="comments.WorkPicture">
                      <div class="col-md-8 text-left" style="font-size: 16px">
                        {{comments.ClientName}}
                        commented on your {{comments.WorkName}} <br> work
                      </div>
                    </li>
                    <li class="divider" style="background-color: #b3b3b3;height: 3px"></li>
                    <li class="dropdown-header text-center"
                        style="cursor: pointer;font-size: 15px;color: #0b75c9;font-weight: bold"><< SeeMore >>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>


        <div class="description text-center">
          <p>{{constrcutor.ConstructorStatus}}</p>
        </div>

        <h3 align="center">
          <small>About Me</small>
        </h3>

        <div class="card card-nav-tabs">
          <div class="card-header card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs" style="margin-left: 28%">
                  <li class="nav-item">
                    <a class="nav-link active" href="#about" data-toggle="tab">
                      <i class="material-icons">account_circle</i> Personal Info
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#works" data-toggle="tab">
                      <i class="material-icons">work</i> Works
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#clients" data-toggle="tab">
                      <i class="material-icons">people</i> Clients
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#reviews" data-toggle="tab">
                      <i class="material-icons">comment</i> Reviews
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content text-center">
              <div class="tab-pane active text-left" id="about">
                <h4 style="font-weight: bold">About Me</h4>
                <div class="row">
                  <div class="col-lg-12 col-xl-6">
                    <div class="table table-responsive table-primary">
                      <table class="table">
                        <tbody>
                        <tr>
                          <th scope="row">Full
                            Name
                          </th>
                          <td>{{constrcutor.ConstructorName}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Gender
                          </th>
                          <td>{{constrcutor.ConstructorGender}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Birth
                            Date
                          </th>
                          <td>{{constrcutor.ConstructorBirthday}}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Marital
                            Status
                          </th>
                          <td>{{constrcutor.ConstructorMaritalStatus}}</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            Location
                          </th>
                          <td>{{constrcutor.ConstructorLocation}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xl-6">
                    <div class="table table-responsive table-primary">
                      <table class="table">
                        <tbody>
                        <tr>
                          <th scope="row">Email
                          </th>
                          <td><a href="#!"><span
                            class="__cf_email__"
                            data-cfemail="b1f5d4dcdef1d4c9d0dcc1ddd49fd2dedc">{{constrcutor.ConstructorEmail}}</span></a>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Mobile
                            Number
                          </th>
                          <td>{{constrcutor.ConstructorMobile}}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            Facebook
                          </th>
                          <td>{{constrcutor.ConstructorFacebook}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Skype
                          </th>
                          <td>{{constrcutor.ConstructorSkype}}</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            Website
                          </th>
                          <td><a href="#!">{{constrcutor.ConstructorWeb}}</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <h4 style="font-weight: bold">Education</h4>
                <div class="row text-left">
                  <div class="col-lg-12 col-xl-12">
                    <div class="table table-responsive table-primary">
                      <table class="table">
                        <thead>
                        <tr>
                          <th style="font-size: 16px;font-weight: bold">University Name</th>
                          <th style="font-size: 16px;font-weight: bold">Year</th>
                          <th style="font-size: 16px;font-weight: bold">Degree</th>
                          <th style="font-size: 16px;font-weight: bold">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let education of selectedEducation">
                          <td>{{education.UniversityName}}</td>
                          <td>{{education.YearRange}}</td>
                          <td>{{education.Degree}}</td>
                          <td>{{education.Description}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <h4 style="font-weight: bold">Experiance</h4>
                <div class="row">
                  <div class="col-lg-12 col-xl-12">
                    <div class="table table-responsive table-primary">
                      <table class="table">
                        <thead>
                        <tr>
                          <th style="font-size: 16px;font-weight: bold">Company Name</th>
                          <th style="font-size: 16px;font-weight: bold">Year</th>
                          <th style="font-size: 16px;font-weight: bold">Post</th>
                          <th style="font-size: 16px;font-weight: bold">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let experiance of selectedExperiance">
                          <td>{{experiance.CompanyName}}</td>
                          <td>{{experiance.YearRange}}</td>
                          <td>{{experiance.Post}}</td>
                          <td>{{experiance.Description}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="works">
                <div class="row text-left">
                  <div class="col-md-4" *ngFor="let work of selectedWorks">
                    <div class="card" style="width: 20rem;">
                      <img class="card-img-top" [src]="work.WorkPicture" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{work.WorkName}}</h4>
                        <p class="card-text">{{work.WorkDescrition}}</p>
                        <a href="#" class="btn btn-primary">View Work</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="clients">
                <div class="row text-left">
                  <div class="col-lg-12 col-xl-12">
                    <div class="table table-responsive table-primary">
                      <table class="table">
                        <thead>
                        <tr>
                          <th style="font-size: 16px;font-weight: bold">#</th>
                          <th style="font-size: 16px;font-weight: bold">Name</th>
                          <th style="font-size: 16px;font-weight: bold">Email</th>
                          <th style="font-size: 16px;font-weight: bold">Mobile No</th>
                          <th style="font-size: 16px;font-weight: bold">Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let clients of selectedClients">
                          <td>{{clients.ClientID}}</td>
                          <td>{{clients.ClientName}}</td>
                          <td>{{clients.ClientEmail}}</td>
                          <td>{{clients.ClientMobile}}</td>
                          <td class="td-actions">
                            <button type="button" rel="tooltip" class="btn btn-info">
                              <i class="material-icons">mail</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons">call</i>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="reviews">
                <div class="row text-left">
                  <div class="col-lg-12 col-xl-12">
                    <div class="media-area">
                      <h3 class="title text-center">1 Comments</h3>
                      <div class="media" *ngFor="let profileComments of selectedProfileComments">
                        <a class="pull-left" href="#pablo">
                          <div class="avatar">
                            <img class="media-object" [src]="profileComments.ClientProfilePicture" alt="..."/>
                          </div>
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading">{{profileComments.ClientName}}
                            <small>&middot; 7 minutes ago</small>
                          </h4>
                          <h6 class="text-muted"></h6>

                          <p>{{profileComments.Commment}}</p>

                          <div class="media-footer">
                            <a href="#pablo" class="btn btn-danger btn-simple pull-right">
                              <i class="material-icons">favorite</i> 17
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="pagination-area text-center" style="margin-left: 40%">
                        <ul class="pagination">
                          <li><a href="#pablo">&laquo;</a></li>
                          <li><a href="#pablo">1</a></li>
                          <li><a href="#pablo">2</a></li>
                          <li class="active"><a href="#pablo">3</a></li>
                          <li><a href="#pablo">4</a></li>
                          <li><a href="#pablo">5</a></li>
                          <li><a href="#pablo">&raquo;</a></li>
                        </ul>
                      </div>
                    </div>


                    <h4 class="text-left" style="font-weight: bold;margin-left: 5%">Post your comment</h4>
                    <div class="media media-post">
                      <a class="pull-left author" href="#pablo">
                        <div class="avatar">
                          <img class="media-object" alt="64x64" src="../../../../assets/img/faces/avatar.jpg">
                        </div>
                      </a>
                      <div class="media-body">
                        <textarea class="form-control" placeholder="Write some nice stuff or nothing..."
                                  rows="6"></textarea>
                        <div class="media-footer">
                          <a href="#pablo" class="btn btn-primary btn-wd pull-right">Post Comment</a>
                        </div>
                      </div>
                    </div> <!-- end media-post -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section section-contacts">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h3 class="text-center title">Want to work with me ?</h3>
              <h4 class="text-center description">Fill the following details and leave a message for me. I will responde
                get back to you in a couple of hours.</h4>
              <form class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Your Name</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Your Email</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                  <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto text-center">
                    <button class="btn btn-primary btn-raised">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
