<div class="sidebar bg-dark" data-color="purple">
    <div class="logo">
        <a routerLink="/" class="simple-text logo-normal" style="color: white">
            EDIFICES
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" routerLink="dashboard" routerLinkActive="active">
                <a class="nav-link" style="color: white;cursor: pointer">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" routerLink="notification" routerLinkActive="active">
                <a class="nav-link" style="color: white;cursor: pointer">
                    <i class="material-icons">notifications</i>
                    <p>Notification</p>
                </a>
            </li>
            <li class="nav-item" routerLink="architectures" routerLinkActive="active">
                <a class="nav-link" style="color: white;cursor: pointer">
                    <i class="material-icons">arrow_drop_down_circle</i>
                    <p>Architectures</p>
                </a>
            </li>
            <li class="nav-item" routerLink="constructors" routerLinkActive="active">
                <a class="nav-link" style="color: white;cursor: pointer">
                    <i class="material-icons">arrow_drop_down_circle</i>
                    <p>Constructors</p>
                </a>
            </li>
            <li class="nav-item" routerLink=" " routerLinkActive="active">
                <a class="nav-link" style="color: white;cursor: pointer">
                    <i class="material-icons">arrow_drop_down_circle</i>
                    <p>Bankers</p>
                </a>
            </li>
        </ul>
    </div>
</div>