<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/buildings-2862807_1920.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register text-center" style="background-color: white">
                        <h3 class="title" style="font-family: 'Calibri';font-weight: bold;color: #4e6773">Forgot
                            Password</h3>
                        <div class="card card-avatar"
                             style="height: 130px;width: 130px;left: 28.5%;background: #92ac56">
                            <div style="margin-top: -25%;font-size: 130px;font-weight: bold">?</div>
                        </div>
                        <div style="margin-bottom: 2rem"></div>
                        <div class="card-status" style="left: 35%;background: #0b75c9">
                            <p class="category"> No problem, we will fix
                                it. Just type
                                your email below and we will send you password recovery instruction to your
                                email.
                                Follow easy steps to get back to your account.</p>
                        </div>
                        <div style="margin-bottom: 2rem"></div>
                        <form class="register-form" [formGroup]="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email"
                                           aria-describedby="basic-addon1" formControlName="email" #emaill>
                                </div>
                                <br *ngIf="email.touched && email.invalid">
                                <br *ngIf="email.touched && email.invalid">
                                <div class="card-status" style="left: 35%; background: red"
                                     *ngIf="email.touched && email.invalid">
                                    <div *ngIf="email.errors.required">Email is required.</div>
                                </div>
                                <div class="input-group">
                                    <button type="button" class="btn btn-primary btn-block" (click)="sendPasswordResetMail(emaill)">
                                        Confirm
                                        Email
                                    </button>
                                </div>
                                <br>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
