
<div class="section">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="navbar navbar- navbar-expand-lg">
            <div class="collapse navbar-collapse">
              <h6>Most Active</h6>
              <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">-->
                <!--<form class="register-form">-->
                <!--<div class="input-group" style="background-color: white">-->
                <!--<input type="text" class="form-control" placeholder="search"-->
                <!--aria-describedby="basic-addon1">-->
                <!--</div>-->
                <!--</form>-->
                <!--</li>-->
                <li class="nav-item">
                  <i (click)="search()" class="material-icons">search</i>
                </li>
                <li class="dropdown nav-item">
                  <a href="#pablo" class=" dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="material-icons">menu</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Dropdown header</h6>
                    <a (click)="dropdown()" class="dropdown-item">Most Active</a>
                    <a (click)="dropdown()" class="dropdown-item">A-Z</a>
                    <a (click)="dropdown()" class="dropdown-item">Ratings</a>
                    <a (click)="dropdown()" class="dropdown-item">Online</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a
           class="col-md-4">
          <div class="card card-header" style="text-align: center; background-color: #0b3251; color: white">
            <h6>Madushan</h6>
          </div>
          <div class="card card-body">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <img class="img-rounded img-responsive img-raised"
                     style="width: 150px; height: 150px"
                     [src]="architecture.architectureProfilePicture"/>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Works Done -: 110</h4>
              <p class="card-category">
                <star-rating-comp [starType]="'svg'" [disabled]="this"
                                  [rating]="4"></star-rating-comp>
                <span class="text-success"><i class="fa fa-long-arrow-up"></i>4</span>
                increase in
                today sales.
              </p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> online 4 minutes ago
              </div>
            </div>
          </div>
        </a>
        <a
           class="col-md-4">
          <div class="card card-header" style="text-align: center; background-color: #0b3251; color: white">
            <h6>Madushan</h6>
          </div>
          <div class="card card-body">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <img class="img-rounded img-responsive img-raised"
                     style="width: 150px; height: 150px"
                     [src]="architecture.architectureProfilePicture"/>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Works Done -: 110</h4>
              <p class="card-category">
                <star-rating-comp [starType]="'svg'" [disabled]="this"
                                  [rating]="4"></star-rating-comp>
                <span class="text-success"><i class="fa fa-long-arrow-up"></i>4</span>
                increase in
                today sales.
              </p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> online 4 minutes ago
              </div>
            </div>
          </div>
        </a>
        <a
           class="col-md-4">
          <div class="card card-header" style="text-align: center; background-color: #0b3251; color: white">
            <h6>Madushan</h6>
          </div>
          <div class="card card-body">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <img class="img-rounded img-responsive img-raised"
                     style="width: 150px; height: 150px"
                     [src]="architecture.architectureProfilePicture"/>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Works Done -: 110</h4>
              <p class="card-category">
                <star-rating-comp [starType]="'svg'" [disabled]="this"
                                  [rating]="4"></star-rating-comp>
                <span class="text-success"><i class="fa fa-long-arrow-up"></i>4</span>
                increase in
                today sales.
              </p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> online 4 minutes ago
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-4"><i (click)="dropdown()" class="material-icons">keyboard_arrow_left</i>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6"><a (click)="dropdown()"><H5>1</H5></a></div>
                <div class="col-md-6"><a (click)="dropdown()"><H5>2</H5></a></div>
              </div>
            </div>
            <div class="col-md-4"><i (click)="dropdown()" class="material-icons">keyboard_arrow_right</i>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>