<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/buildings-2862807_1920.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register text-center" style="background-color: white">
                        <h3 class="title" style="font-family: 'Calibri';font-weight: bold;color: #4e6773">LogIN</h3>
                        <div class="card card-avatar" style="height: 130px;width: 130px;left: 28.5%">
                            <img class="img-rounded img-responsive img-raised"
                                 src="../../assets/img/faces/kaci-baum-2.jpg"/>
                        </div>
                        <form class="register-form">

                            <div class="form-group">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email"
                                           aria-describedby="basic-addon1">
                                </div>
                                <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <button routerLink="/layout" type="button" class="btn btn-primary btn-block">Login
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="forgot">
                            <a href="#" routerLink="/forget-password" class="btn btn-link" style="color: purple">Forgot
                                password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
