<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/buildings-2862807_1920.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register text-center" style="background-color: white">
                        <h3 class="title" style="font-family: 'Calibri';font-weight: bold;color: #4e6773">New Admin</h3>
                        <form class="register-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="user-name"
                                           aria-describedby="basic-addon1" id="userName" name="userName" #userName>
                                </div>
                                <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="email"
                                           aria-describedby="basic-addon1" name="userEmail" id="userEmail" #userEmail>
                                </div>
                                <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Your User Name"
                                           aria-describedby="basic-addon1"  id="adminUserName" #adminUserName>
                                </div>
                                <div class="input-group">
                                    <button (click)="sendEmail()" type="button" class="btn btn-primary btn-block">Send
                                        Email
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
