<nav class="navbar navbar-color-on-scroll bg-warning fixed-top navbar-expand-lg " color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">EDIFICES</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="material-icons">touch_app</i> Hire Professionals
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">how_to_reg</i> How It Works
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
            <i class="material-icons"></i>Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">
            <i class="material-icons"></i>Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            <i class="material-icons"></i>Profile Page
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="/">
            EDIFICES
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 350px; height: 100px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <h4 class="card-title">LogIN</h4>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="" action="">
            <div class="card-body">
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
              </div>
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" placeholder="Password..." class="form-control">
                </div>
              </div>
              <div class="text-right">
                <a href="#pablo" class="btn btn-default">Get Started</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange" id="wizard">
            <form>

              <div class="wizard-header">
                <h3 class="wizard-title">
                  Create Your Profile
                </h3>
                <h5>This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation row">
                <div class="col-md-12">
                  <ul>
                    <li class="col-md-3"><a href="#about" data-toggle="tab">About</a></li>
                    <li class="col-md-3" style="margin-left: 10%"><a href="#role" data-toggle="tab">Role</a></li>
                    <li class="col-md-3" style="margin-left: 10%"><a href="#more-info" data-toggle="tab">More Info</a></li>
                  </ul>
                </div>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <h4 class="info-text">Let's start with the basic information. </h4>

                  <div class="row">
                    <div class="col-md-4 col-sm-offset-1" style="padding-left: 5%">
                      <label for="selectFile">
                        <img class="img-raised rounded img-fluid" [src]="url"
                             alt="Card image cap" style="width: 300px;height: 300px;cursor: pointer"
                             data-toggle="tooltip" data-placement="left" title="Click Here To Upload Profile Picture"
                             data-container="body">
                        <input type="file" name="selectFile" id="selectFile" (change)="readUrl($event)"
                               style="display: none">
                      </label>
                    </div>
                    <div class="col-md-8 mr-auto">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">group</i>
                          </span>
                        </div>
                        <input id="userName" type="text" class="form-control" placeholder="User Name"
                               style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input id="userEmail" type="text" class="form-control" placeholder="Email" style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">lock</i>
                          </span>
                        </div>
                        <input id="userPassword" type="password" class="form-control" placeholder="Password"
                               style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">contact_phone</i>
                          </span>
                        </div>
                        <input id="userContactNumber" type="text" class="form-control" placeholder="Contact Number"
                               style="width: 380%">
                      </div>

                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="role">
                  <h4 class="info-text">Choose your role. </h4>
                  <div class="row">
                    <div class="col-md-1 col-sm-offset-2"></div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a constructor.">
                        <input type="radio" name="type" value="Constructor">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Constructor</h6>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a architecturet">
                        <input type="radio" name="type" value="Architecture">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Architecture</h6>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a banker.">
                        <input type="radio" name="type" value="Banker">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Banker</h6>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a flat provider">
                        <input type="radio" name="type" value="Flat Provider">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Flat Provider</h6>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a loan provider.">
                        <input type="radio" name="type" value="Loan Provider">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Loan Provider</h6>
                      </div>
                    </div>

                    <div class="col-md-1 col-sm-offset-2"></div>
                  </div>
                </div>

                <div class="tab-pane" id="more-info">
                  <h4 class="info-text">Tell us more about you. </h4>
                  <div class="row">
                    <div class="col-md-1 mr-auto"></div>

                    <div class="col-md-10 mr-auto">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">work</i>
                          </span>
                        </div>
                        <input id="companyName" type="text" class="form-control" placeholder="Company Name"
                               style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">blur_on</i>
                          </span>
                        </div>
                        <input id="status" type="text" class="form-control" placeholder="Status" style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">ac_unit</i>
                          </span>
                        </div>
                        <input id="aboutYou" type="text" class="form-control" placeholder="About you"
                               style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">phone_forwarded</i>
                          </span>
                        </div>
                        <input id="officialNumber" type="text" class="form-control" placeholder="Official Number "
                               style="width: 520%">
                      </div>
                    </div>

                    <div class="col-md-1 mr-auto"></div>
                  </div>
                </div>
              </div>

              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next >>'/>
                  <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' (click)="register()" />
                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                         value='<< Previous'/>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
