<nav class="navbar navbar-color-on-scroll bg-warning fixed-top navbar-expand-lg " color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">EDIFICES</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="material-icons">touch_app</i> Hire Professionals
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">how_to_reg</i> How It Works
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="material-icons"></i>Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">
            <i class="material-icons"></i>Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            <i class="material-icons"></i>Profile Page
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="page-header header-filter" data-parallax="true"
     style=" background-image: url('../../assets/img/bg7.jpg');">
  <div class="container" style="margin-top: -15%">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Your Life Story Starts With Us.</h1>
        <h4>With industry-leading companies and the professional workers in the business, our mission
          is to ethically and honestly serve our clients so that they can achieve the dream of living.</h4>
        <br>
        <div class="row">
          <div class="col-md-5">
            <a href="#"
               class="btn btn-danger btn-raised btn-lg">
              <i class="material-icons">call_missed_outgoing</i> I Want To Hire
            </a>
          </div>
          <div class="col-md-6">
            <a href="#"
               class="btn btn-outline-warning btn-raised btn-lg">
              <strong style="color: white"><i class="material-icons">play_for_work</i> I Want To Work</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">

    <!--start section 1-->
    <div class="section text-center">
      <div class="features-5" style="background-image: url('../../assets/img/bg10.jpg')">
        <div class="col-md-12 col-md-offset-2 text-center">
          <h2 class="title">Your life's Dream will be much easier</h2>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">donut_small</i>
                </div>
                <h4 class="info-title">For Clients</h4>
                <p>The moment you use Edifices, you know you’ve never felt anything like this. With a usage of this
                  site you can arrange your house planing more than ever before. </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">format_paint</i>
                </div>
                <h4 class="info-title">For Workers</h4>
                <p>With the usage of Edifices, you can give your knowledge to our customers and introduce your skills
                  and working experience more than ever before. </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">24/7 Available</h4>
                <p>We’re always here to help. Our support consists of real people who are available 24/7. </p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Verified Users</h4>
                <p>Find professionals you can trust by browsing their samples of previous work and reading their profile
                  reviews. </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">access_time</i>
                </div>
                <h4 class="info-title">Save Time</h4>
                <p>Using Edifices you can save your time by searching lands, searching architectures, serching
                  constructors etc... </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">attach_money</i>
                </div>
                <h4 class="info-title">Save Money</h4>
                <p>With the usage of this site you can also save your money. You can search different types of
                  professionals with different types of pricing ranges. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end section 1-->

    <!--start section 2-->

    <div class="cd-section" id="blogs">
      <div class="blogs-2" id="blogs-2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-1">
              <h2 class="title text-center">Our Professionals</h2>
              <br/>
              <div class="row">
                <div class="col-md-4" style="cursor: pointer" (click)="getRoles('Architectures')">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a>
                        <img class="img img-raised" src="assets/img/examples/card-blog4.jpg"/>
                      </a>
                    </div>

                    <div class="card-content">
                      <h4 class="card-title">
                        <a>Architecturers</a>
                      </h4>
                      <p class="card-description">
                        Like so many professionals these days, Architecturer is a important person who plans everything.
                        So in this site you can find whoever you wants whoever you likes.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="cursor: pointer" (click)="getRoles('Constructors')">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a>
                        <img class="img img-raised" src="../../../assets/img/examples/blog5.jpg"/>
                      </a>
                    </div>
                    <div class="card-content">

                      <h4 class="card-title">
                        <a>Constructors</a>
                      </h4>
                      <p class="card-description">
                        Constructors are also important. They Are building everything according to your previous plan
                        designed by architecturer.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="cursor: pointer" (click)="getRoles('Bankers')">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised" src="../../../assets/img/examples/blog7.jpg"/>
                      </a>
                    </div>

                    <div class="card-content">

                      <h4 class="card-title">
                        <a href="#pablo">Loan Providers</a>
                      </h4>
                      <p class="card-description">
                        If you are out of money, this is the chance for getting loan for interesting interests and
                        offers.
                      </p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="cursor: pointer" (click)="getRoles('LandProviders')">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised" src="../../../assets/img/examples/card-blog5.jpg"/>
                      </a>
                    </div>

                    <div class="card-content">

                      <h4 class="card-title">
                        <a href="#pablo">Land Providers</a>
                      </h4>
                      <p class="card-description">
                        Do you want a find a land? This is the suitable section for it.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="cursor: pointer" (click)="getRoles('FlatProviders')">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a>
                        <img class="img img-raised" src="../../assets/img/examples/blog8.jpg"/>
                      </a>
                    </div>
                    <div class="card-content">

                      <h4 class="card-title">
                        <a>Rentinng Services</a>
                      </h4>
                      <p class="card-description">
                        Searching for a rentout? Visit here to find one.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-2"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!--end section 2-->

    <!--start section 3-->

    <div class="cd-section" id="projects">
      <div class="projects-4" id="projects-4">

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center">
              <h2 class="title">Some of Our Awesome Projects</h2>
              <h5 class="description">This is the paragraph where you can write more details about your projects. Keep
                you user engaged by providing meaningful information.</h5>
              <div class="section-space"></div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 col-md-offset-1">
              <div class="card card-background"
                   style="background-image: url('../../assets/img/examples/card-project2.jpg')">
                <a href="#pablo">

                </a>
                <div class="card-content">
                  <label class="label label-rose">Client: Apple</label>
                  <a href="#pablo">
                    <h3 class="card-title">Beautiful Project</h3>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <br>
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">format_paint</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Graphic Design</h4>
                  <p class="description">
                    We've created the design of the website using modern Technologies like Sketch. It was a very
                    interesting collaboration.
                  </p>
                </div>
              </div>

              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Fully Coded in HTML5</h4>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>

              <div class="info info-horizontal">
                <div class="icon icon-danger">
                  <i class="material-icons">dashboard</i>
                </div>
                <div class="description">
                  <h4 class="info-title">CMS Admin Dashboard</h4>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>

          </div>

          <hr/>

          <div class="row">

            <div class="col-md-6 col-md-offset-1">
              <br>
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">timeline</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Marketing</h4>
                  <p class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                  </p>
                </div>
              </div>

              <div class="info info-horizontal">
                <div class="icon icon-success">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Fully Coded in HTML5</h4>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>

              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">group</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Built Audience</h4>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-background"
                   style="background-image: url('../../assets/img/examples/card-project5.jpg')">
                <a href="#pablo">
                </a>
                <div class="card-content">
                  <label class="label label-rose">Client: DJ Khaled</label>
                  <a href="#pablo">
                    <h2 class="card-title">Another One</h2>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end section 3-->

    <!--start section 4-->

    <div class="cd-section" id="teams">
      <div class="team-1" id="team-1">

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center">
              <h2 class="title">Our Awesome Team</h2>
              <h5 class="description">This is the paragraph where you can write more details about your team. Keep you
                user engaged by providing meaningful information.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/marc.jpg"/>
                  </a>
                </div>

                <div class="card-content">
                  <h4 class="card-title">Alec Thompson</h4>
                  <h6 class="category text-muted">CEO / Co-Founder</h6>

                  <p class="card-description">
                    And I love you like Kanye loves Kanye. We need to restart the human foundation.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                      class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/kendall.jpg"/>
                  </a>
                </div>

                <div class="card-content">
                  <h4 class="card-title">Tania Andrew</h4>
                  <h6 class="category text-muted">Designer</h6>

                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation. And I love you like
                    Kanye loves Kanye.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i
                      class="fa fa-dribbble"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i
                      class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/christian.jpg"/>
                  </a>
                </div>

                <div class="card-content">
                  <h4 class="card-title">Christian Mike</h4>
                  <h6 class="category text-muted">Web Developer</h6>

                  <p class="card-description">
                    I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human
                    foundation.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                      class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i
                      class="fa fa-dribbble"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/avatar.jpg"/>
                  </a>
                </div>

                <div class="card-content">
                  <h4 class="card-title">Rebecca Stormvile</h4>
                  <h6 class="category text-muted">Web Developer</h6>

                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i
                      class="fa fa-dribbble"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end section 4-->

    <!--start section 5-->

    <div class="cd-section" id="testimonials">
      <div class="testimonials-1 section-image" style="background-image: url('../../assets/img/dg2.jpg')">

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-3 text-center">
              <h2 class="title">Our Clients Love Us</h2>
              <h5 class="description">You need more information? Check what other persons are saying about our product.
                They are very happy with their purchase.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I
                    love the color mixtures, cards... everything. Keep up the great work!
                  </h5>
                </div>

                <div class="footer">
                  <h4 class="card-title">Alec Thompson</h4>
                  <h6 class="category">@alecthompson</h6>
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/card-profile1-square.jpg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    "Don't be scared of the truth because we need to restart the human foundation in truth. That's why I
                    love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is not so attractive"
                  </h5>
                </div>

                <div class="footer">
                  <h4 class="card-title">Gina Andrew</h4>
                  <h6 class="category">@ginaandrew</h6>
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/card-profile4-square.jpg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    "Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I
                    love the color mixtures, cards... everything. Keep up the great work!"
                  </h5>
                </div>

                <div class="footer">
                  <h4 class="card-title">George West</h4>
                  <h6 class="category">@georgewest</h6>
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/card-profile2-square.jpg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

    <!--end section 5-->

    <!--start section 6-->

    <div class="cd-section" id="contactus">
      <div class="contactus-1 section-white">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title">Get in Touch</h2>
              <h5 class="description">You need more information? Check what other persons are saying about our product.
                They are very happy with their purchase.</h5>
              <div class="info info-horizontal">
                <div class="icon icon-primary" style="color: red">
                  <i class="material-icons">pin_drop</i>
                </div>
                <div class="description">
                  <h4 class="info-title" style="color: #1b1e21">Find us at the office</h4>
                  <p> Bld Mihail Kogalniceanu, nr. 8,<br>
                    7652 Bucharest,<br>
                    Romania
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary" style="color: darkgreen">
                  <i class="material-icons">phone</i>
                </div>
                <div class="description">
                  <h4 class="info-title" style="color: #1b1e21">Give us a ring</h4>
                  <p> Michael Jordan<br>
                    +40 762 321 762<br>
                    Mon - Fri, 8:00-22:00
                  </p>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-md-offset-2">
              <div class="card card-contact">
                <form role="form" id="contact-form" method="post">
                  <div class="header header-raised header-primary text-center">
                    <h4 class="card-title">Contact Us</h4>
                  </div>
                  <div class="card-content">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating">
                          <label class="control-label">First name</label>
                          <input type="text" name="name" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group label-floating">
                          <label class="control-label">Last name</label>
                          <input type="text" name="name" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Email address</label>
                      <input type="email" name="email" class="form-control"/>
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Your message</label>
                      <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                    </div>

                    <div class="row">
                      <div class="col-md-6">

                      </div>
                      <div class="col-md-6">
                        <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end section 6-->

  </div>
</div>








<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="/">
            EDIFICES
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 350px; height: 100px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <h4 class="card-title">LogIN</h4>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="" action="">
            <div class="card-body">
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
              </div>
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" placeholder="Password..." class="form-control">
                </div>
              </div>
              <div class="text-right">
                <a href="#pablo" class="btn btn-default">Get Started</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange" id="wizard">
            <form>

              <div class="wizard-header">
                <h3 class="wizard-title">
                  Create Your Profile
                </h3>
                <h5>This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation row">
                <div class="col-md-12">
                  <ul>
                    <li class="col-md-3"><a href="#about" data-toggle="tab">About</a></li>
                    <li class="col-md-3" style="margin-left: 10%"><a href="#role" data-toggle="tab">Role</a></li>
                    <li class="col-md-3" style="margin-left: 10%"><a href="#more-info" data-toggle="tab">More Info</a></li>
                  </ul>
                </div>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <h4 class="info-text">Let's start with the basic information. </h4>

                  <div class="row">
                    <div class="col-md-4 col-sm-offset-1" style="padding-left: 5%">
                      <label for="selectFile">
                        <img class="img-raised rounded img-fluid" [src]="url"
                             alt="Card image cap" style="width: 300px;height: 300px;cursor: pointer"
                             data-toggle="tooltip" data-placement="left" title="Click Here To Upload Profile Picture"
                             data-container="body">
                        <input type="file" name="selectFile" id="selectFile" (change)="readUrl($event)"
                               style="display: none">
                      </label>
                    </div>
                    <div class="col-md-8 mr-auto">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">group</i>
                          </span>
                        </div>
                        <input id="userName" type="text" class="form-control" placeholder="User Name"
                               style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input id="userEmail" type="text" class="form-control" placeholder="Email" style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">lock</i>
                          </span>
                        </div>
                        <input id="userPassword" type="password" class="form-control" placeholder="Password"
                               style="width: 380%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">contact_phone</i>
                          </span>
                        </div>
                        <input id="userContactNumber" type="text" class="form-control" placeholder="Contact Number"
                               style="width: 380%">
                      </div>

                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="role">
                  <h4 class="info-text">Choose your role. </h4>
                  <div class="row">
                    <div class="col-md-1 col-sm-offset-2"></div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a constructor.">
                        <input type="radio" name="type" value="Constructor">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Constructor</h6>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a architecturet">
                        <input type="radio" name="type" value="Architecture">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Architecture</h6>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a banker.">
                        <input type="radio" name="type" value="Banker">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Banker</h6>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a flat provider">
                        <input type="radio" name="type" value="Flat Provider">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Flat Provider</h6>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-offset-2">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                           title="Select this option if you are a loan provider.">
                        <input type="radio" name="type" value="Loan Provider">
                        <div class="icon">
                          <i class="material-icons">how_to_reg</i>
                        </div>
                        <h6>Loan Provider</h6>
                      </div>
                    </div>

                    <div class="col-md-1 col-sm-offset-2"></div>
                  </div>
                </div>

                <div class="tab-pane" id="more-info">
                  <h4 class="info-text">Tell us more about you. </h4>
                  <div class="row">
                    <div class="col-md-1 mr-auto"></div>

                    <div class="col-md-10 mr-auto">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">work</i>
                          </span>
                        </div>
                        <input id="companyName" type="text" class="form-control" placeholder="Company Name"
                               style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">blur_on</i>
                          </span>
                        </div>
                        <input id="status" type="text" class="form-control" placeholder="Status" style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">ac_unit</i>
                          </span>
                        </div>
                        <input id="aboutYou" type="text" class="form-control" placeholder="About you"
                               style="width: 520%">
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="material-icons">phone_forwarded</i>
                          </span>
                        </div>
                        <input id="officialNumber" type="text" class="form-control" placeholder="Official Number "
                               style="width: 520%">
                      </div>
                    </div>

                    <div class="col-md-1 mr-auto"></div>
                  </div>
                </div>
              </div>

              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next >>'/>
                  <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' (click)="register()" />
                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                         value='<< Previous'/>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
