<nav class="navbar navbar-color-on-scroll bg-warning fixed-top  navbar-expand-lg " color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">EDIFICES</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="material-icons">touch_app</i> Hire Professionals
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">how_to_reg</i> How It Works
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
            <i class="material-icons"></i>Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">
            <i class="material-icons"></i>Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            <i class="material-icons"></i>Profile Page
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header">
          <div class="card-header card-header-primary text-center" style="width: 350px; height: 100px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
              class="material-icons">clear</i></button>
            <h4 class="card-title">LogIN</h4>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="" action="">
            <div class="card-body">
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
              </div>
              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="form-group bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" placeholder="Password..." class="form-control">
                </div>
              </div>
              <div class="text-right">
                <a href="#pablo" class="btn btn-default">Get Started</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-signup" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <form-wizard>
        <div class="card card-signup">
          <form>
            <h2 class="card-title text-center">Register</h2>
            <div class="card-body">
              <wizard-step>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <label for="selectFile">
                      <img class="img-raised rounded img-fluid" [src]="url"
                           alt="Card image cap" style="width: 300px;height: 300px;cursor: pointer"
                           data-toggle="tooltip" data-placement="left" title="Click Here To Upload Profile Picture"
                           data-container="body">
                    </label>
                    <input type="file" name="selectFile" id="selectFile" (change)="readUrl($event)"
                           style="display: none">
                  </div>
                  <div class="col-md-5 mr-auto">
                    <form class="form" method="" action="">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                        </div>
                        <input id="userName" type="text" class="form-control" placeholder="User Name">
                      </div>
                      <br>
                      <br>
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="material-icons">
                              email
                           </i>
                        </span>
                        </div>
                        <input id="userEmail" type="text" class="form-control" placeholder="Email">
                      </div>
                      <br>
                      <br>
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                        </div>
                        <input id="userPassword" type="text" class="form-control" placeholder="Password">
                      </div>
                      <br>
                      <br>
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">group</i>
                        </span>
                        </div>
                        <input id="userContactNumber" type="text" class="form-control" placeholder="Contact Number ">
                      </div>
                    </form>
                  </div>
                </div>
              </wizard-step>
              <wizard-step>
                <div class="row">
                  <div class="col-md-3 col-ml-auto">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="button button-primary">Architecture</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-3 col-ml-auto">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="button button-primary">Architecture</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-3 col-ml-auto">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="button button-primary">Architecture</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-3 col-ml-auto">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="button button-primary">Architecture</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </wizard-step>
              <wizard-step (onComplete)="register()">
                <div class="row">
                  <div class="col-md-2 col-ml-auto"></div>
                  <div class="col-md-8 col-ml-auto">
                    <br>
                    <br>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="material-icons">group</i>
      </span>
                      </div>
                      <input id="companyName" type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <br>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="material-icons">
      email
      </i>
      </span>
                      </div>
                      <input id="status" type="text" class="form-control" placeholder="Status">
                    </div>
                    <br>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="material-icons">group</i>
      </span>
                      </div>
                      <input id="aboutYou" type="text" class="form-control" placeholder="About you">
                    </div>
                    <br>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="material-icons">group</i>
      </span>
                      </div>
                      <input id="officialNumber" type="text" class="form-control" placeholder="Official Number ">
                    </div>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-2 col-ml-auto"></div>
                </div>
              </wizard-step>
            </div>
          </form>
        </div>
        <!--<div class="alert alert-danger">-->
        <!--<div class="container">-->
        <!--<div class="alert-icon">-->
        <!--<i class="material-icons">error_outline</i>-->
        <!--</div>-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--<span aria-hidden="true"><i class="material-icons">clear</i></span>-->
        <!--</button>-->
        <!--<b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...-->
        <!--</div>-->
        <!--</div>-->
      </form-wizard>
    </div>
  </div>
</div>
