<div class="wrapper img-responsive" style="background-image: url('../../assets/img/skyscraper-450793_1920.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-4 col-lg-4 text-center" style="margin-top: 12%;">
                <div style="color: #e9ecef">
                    <h2 style="font-weight: bold">Welcome</h2>
                    <h4 style="font-weight: bold">To</h4>
                    <h1 style="font-weight: bold;font-family: 'Comic Sans MS'">EDIFICES</h1>
                    <h3 style="font-weight: bold">Make Your Dream As Real</h3>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-4 col-lg-4">
                <div class="card card-profile" style="top: 55px">
                    <div class="card-header" data-background-color="default">
                        <h4 class="title" style="font-weight: bold">LogIN</h4>
                    </div>
                    <form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="content">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img-rounded img-responsive img-raised" src="../../assets/img/faces/avatar.jpg" />
                                </a>
                            </div>

                            <h6 class="category text-gray">CEO / Co-Founder</h6>

                            <div class="content" style="padding-right: 20px">

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input type="password" placeholder="Password..." class="form-control" />
                                </div>
                                <div class="input-group" style="left: 5.5%">
                                    <a class="btn btn-simple btn-primary ">Forget Password?</a>
                                </div>
                                <button class="btn btn-primary" style="left: 38.5%">LogIN</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
