<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/buildings-2862807_1920.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register text-center" style="background-color: white">
                        <h3 class="title" style="font-family: 'Calibri';font-weight: bold;color: #4e6773">Reset
                            Password</h3>
                        <div class="card card-avatar" style="height: 130px;width: 130px;left: 28.5%">
                            <img class="img-rounded img-responsive img-raised"
                                 src="../../assets/img/faces/kaci-baum-2.jpg"/>
                        </div>
                        <form class="register-form" [formGroup]="form">

                            <br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Security Code"
                                       aria-describedby="basic-addon1" formControlName="securityCode" id="securityCode"
                                       name="securityCode" #securityCodee>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="New Password"
                                           aria-describedby="basic-addon1" formControlName="newPassword"
                                           id="newPassword"
                                           name="newPassword" #newPasswordd>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Re Enter Password"
                                           aria-describedby="basic-addon1" formControlName="rePassword" id="rePassword"
                                           name="rePassword" #rePasswordd>
                                </div>

                                <br *ngIf="securityCode.touched && securityCode.invalid">
                                <br *ngIf="securityCode.touched && securityCode.invalid">
                                <div class="card-status" style="left: 35%; background: red"
                                     *ngIf="securityCode.touched && securityCode.invalid">
                                    <div *ngIf="securityCode.errors.required">Security code is required.</div>
                                </div>

                                <br *ngIf="newPassword.touched && newPassword.invalid">
                                <br *ngIf="newPassword.touched && newPassword.invalid">
                                <div class="card-status" style="left: 35%; background: red"
                                     *ngIf="newPassword.touched && newPassword.invalid">
                                    <div *ngIf="newPassword.errors.required">New password is required.</div>
                                </div>

                                <br *ngIf="rePassword.touched && rePassword.invalid">
                                <br *ngIf="rePassword.touched && rePassword.invalid">
                                <div class="card-status" style="left: 35%; background: red"
                                     *ngIf="rePassword.touched && rePassword.invalid">
                                    <div *ngIf="rePassword.errors.required">Re password is required.</div>
                                </div>
                                <div class="input-group">
                                    <button (click)="updatePassword()" type="button" class="btn btn-primary btn-block">
                                        Reset
                                        Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
