<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a routerLink="/" class="simple-text logo-normal">
            EDIFICES
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" routerLink="dashboard" routerLinkActive="active">
                <a class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" routerLink="notification" routerLinkActive="active">
                <a class="nav-link">
                    <i class="material-icons">notifications</i>
                    <p>Notification</p>
                </a>
            </li>
            <li class="nav-item" routerLink="/new-admin" routerLinkActive="active">
                <a class="nav-link">
                    <i class="material-icons">notifications</i>
                    <p>New Admin</p>
                </a>
            </li>
        </ul>
    </div>
</div>