<br>
<br>
<nav class="navbar  fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
        Material Kit </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Components
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a href="./index.html" class="dropdown-item">
              <i class="material-icons">layers</i> All Components
            </a>
            <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html"
               class="dropdown-item">
              <i class="material-icons">content_paste</i> Documentation
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim"
             target="_blank" data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim"
             target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
             href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
             data-original-title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feedback</a>
        </li>
        <li class="nav-item">
          <button routerLink="post-project"  class="btn btn-link BannerOneClick-cta Card" data-one-click-banner-btn="button-1" data-index="1">
            Get a Design
          </button>
        </li>
        <!--<li class="nav-item dropdown ">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
             <!--aria-haspopup="true" aria-expanded="false">-->
            <!--Dropdown link-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>
