<app-admin-nav></app-admin-nav>
<div class="row">
  <div class="col-md-12">
    <div class="ui segments">
      <div class="ui segment">
        <a class="item" (click)="collapse = !collapse">
          <i class="sidebar icon"></i> Architectures
        </a>
      </div>
      <div class="ui segment">
        <div [suiCollapse]="collapse">
          <div class="ui segment">
            <div class="row">
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img" src="assets/img/examples/card-profile4.jpg">

                      <div class="card-title">
                        Tania Andrew
                      </div>
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>

                  <div class="card-content">
                    <h6 class="category text-info">Web Designer</h6>

                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>

                    <div class="footer">
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img" src="assets/img/examples/card-profile4.jpg">

                      <div class="card-title">
                        Tania Andrew
                      </div>
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>

                  <div class="card-content">
                    <h6 class="category text-info">Web Designer</h6>

                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>

                    <div class="footer">
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img" src="assets/img/examples/card-profile4.jpg">

                      <div class="card-title">
                        Tania Andrew
                      </div>
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>

                  <div class="card-content">
                    <h6 class="category text-info">Web Designer</h6>

                    <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>

                    <div class="footer">
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="ui segments">-->
      <!--<div class="ui segment">-->
        <!--<a class="item" (click)="collapse = !collapse">-->
          <!--<i class="sidebar icon"></i> Architectures-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="ui segment">-->
        <!--<div [suiCollapse]="collapse">-->
          <!--<div class="ui segment">-->
            <!--<div class="row">-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="ui segments">-->
      <!--<div class="ui segment">-->
        <!--<a class="item" (click)="collapse = !collapse">-->
          <!--<i class="sidebar icon"></i> Architectures-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="ui segment">-->
        <!--<div [suiCollapse]="collapse">-->
          <!--<div class="ui segment">-->
            <!--<div class="row">-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
                <!--<div class="card card-profile">-->
                  <!--<div class="card-image">-->
                    <!--<a href="#pablo">-->
                      <!--<img class="img" src="assets/img/examples/card-profile4.jpg">-->

                      <!--<div class="card-title">-->
                        <!--Tania Andrew-->
                      <!--</div>-->
                    <!--</a>-->
                    <!--<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>-->

                  <!--<div class="card-content">-->
                    <!--<h6 class="category text-info">Web Designer</h6>-->

                    <!--<p class="card-description">-->
                      <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                    <!--</p>-->

                    <!--<div class="footer">-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
                      <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
