<app-nav-bar></app-nav-bar><!--nav-bar-->
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-background" style="background-image: url('../../assets/img/examples/blog5.jpg')">

            <div class="card-content">
              <h6 class="category text-info">Productivy Apps</h6>
              <a href="#pablo">
                <h3 class="card-title">The Best Productivity Apps on Market</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                like
                Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">subject</i> Read Article
                <div class="ripple-container"></div>
              </a>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">watch_later</i> Watch Later
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-nav-tabs">
            <h4 class="card-header card-header-info" style="text-align: center">Start New Project</h4>
            <div class="card-body">
              <div style="text-align: center"><h3 class="card-title">Hire a freelancer in seconds</h3></div>
              <div style="text-align: center"><h6 class="card-title">Click a button below to get a job done</h6></div>
              <br>
              <br>
              <div>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-link BannerOneClick-cta Card" data-one-click-banner-btn="button-1"
                            data-index="1">
                      Get a Design
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-link BannerOneClick-cta Card" data-one-click-banner-btn="button-1"
                            data-index="1">
                      Get a Design
                    </button>
                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-link BannerOneClick-cta Card" data-one-click-banner-btn="button-1"
                            data-index="1">
                      Get a Design
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-link BannerOneClick-cta Card" data-one-click-banner-btn="button-1"
                            data-index="1">
                      Get a Design
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-nav-tabs">
            <h4 class="card-header card-header-danger">Newsfeed</h4>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-blog">
            <div class="card-image">
              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail img-circle img-raised">
                  <img [src]="url" alt="Rounded Image" class="img-rounded img-responsive">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                <div>
									<span class="btn btn-raised btn-round btn-default btn-file">
										<span class="fileinput-new">Change photo</span>
																				<input (change)="readUrl($event)"  type="file" name="..."></span>
                </div>
              </div>
            </div>

            <div class="card-content">
              <h6>Storage allowed</h6>
              <sui-progress class="disabled" [value]="15"></sui-progress>
              <h5 style="text-align: center;font-size: 25px">15%</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md12">
          <div class="card card-background" style="background-image: url('../../assets/img/examples/blog5.jpg')">

            <div class="card-content">
              <h6 class="category text-info">Productivy Apps</h6>
              <a href="#pablo">
                <h3 class="card-title">The Best Productivity Apps on Market</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                like
                Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">subject</i> Read Article
                <div class="ripple-container"></div>
              </a>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">watch_later</i> Watch Later
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md12">
          <div class="card card-background" style="background-image: url('../../assets/img/examples/blog5.jpg')">

            <div class="card-content">
              <h6 class="category text-info">Productivy Apps</h6>
              <a href="#pablo">
                <h3 class="card-title">The Best Productivity Apps on Market</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                like
                Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">subject</i> Read Article
                <div class="ripple-container"></div>
              </a>
              <a href="#pablo" class="btn btn-white btn-simple">
                <i class="material-icons">watch_later</i> Watch Later
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer><!--footer-->
