<div class="page-header header-filter" data-parallax="true"
     style=" background-image: url('../../assets/img/bg7.jpg');">
  <div class="container" style="margin-top: -15%">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Your Life Story Starts With Us.</h1>
        <h4>With industry-leading companies and the professional workers in the business, our mission
          is to ethically and honestly serve our clients so that they can achieve the dream of living.</h4>
        <br>
        <div class="row">
          <div class="col-md-5">
            <a href="#"
               class="btn btn-danger btn-raised btn-lg">
              <i class="material-icons">call_missed_outgoing</i> I Want To Hire
            </a>
          </div>
          <div class="col-md-6">
            <a href="#"
               class="btn btn-outline-warning btn-raised btn-lg">
              <strong style="color: white"><i class="material-icons">play_for_work</i> I Want To Work</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">

    <!--start section 1-->
    <div class="section text-center">
      <div class="col-md-12 col-md-offset-2 text-center">
        <h2 class="title">{{name}}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4" *ngFor="let role of roles">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background">
                <div class="front front-background"
                     style="background-image: url('../../assets/img/examples/card-blog5.jpg');">

                  <!--*ngIf="role.ConstructorProfilePicture!=null"-->
                  <!--[ngStyle]="{ 'background-image': 'url(' + role.ConstructorProfilePicture + ')'}"-->

                  <div class="card-content">
                    <h6 class="category text-info">Employee of Edifices.lk</h6>
                    <a href="#pablo">
                      <h3 class="card-title" *ngIf="role.ConstructorName!=null">{{role.ConstructorName}}</h3>
                      <h3 class="card-title" *ngIf="role.architectureName!=null">{{role.architectureName}}</h3>
                      <h3 class="card-title" *ngIf="role.BankerName!=null">{{role.BankerName}}</h3>
                      <h3 class="card-title" *ngIf="role.LandProviderName!=null">{{role.LandProviderName}}</h3>
                      <h3 class="card-title" *ngIf="role.FlatProviderName!=null">{{role.FlatProviderName}}</h3>
                    </a>
                    <p class="card-description" *ngIf="role.ConstructorStatus!=null">
                      {{role.ConstructorStatus}}
                    </p>
                    <p class="card-description" *ngIf="role.architectureStatus!=null">
                      {{role.architectureStatus}}
                    </p>
                    <p class="card-description" *ngIf="role.BankerStatus!=null">
                      {{role.BankerStatus}}
                    </p>
                    <p class="card-description" *ngIf="role.LandProviderStatus!=null">
                      {{role.LandProviderStatus}}
                    </p>
                    <p class="card-description" *ngIf="role.FlatProviderStatus!=null">
                      {{role.FlatProviderStatus}}
                    </p>
                  </div>
                </div>

                <div class="back back-background" style="background-image: url('../../assets/img/examples/card-blog5.jpg');">
                  <div class="card-content">
                    <h5 class="card-title">
                      Want To Visit Profile?
                    </h5>
                    <p class="card-description">You can visit to profile and get more details about this employee, and view works of employee</p>
                    <div class="footer text-center">
                      <button class="btn btn-danger btn-round" (click)="getRoleProfile('Kushan')">
                        <i class="material-icons">subject</i> Visit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
