<div class="wrapper img-responsive" style="background-image: url('../../assets/img/skyscraper-450793_1920.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-4 col-lg-4 text-center" style="margin-top: 12%;">
                <div style="color: #e9ecef">
                    <h2 style="font-weight: bold">Welcome</h2>
                    <h4 style="font-weight: bold">To</h4>
                    <h1 style="font-weight: bold;font-family: 'Comic Sans MS'">EDIFICES</h1>
                    <h3 style="font-weight: bold">Make Your Dream As Real</h3>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-4 col-lg-4">
                <div class="card card-profile" style="top: 55px">
                    <div class="card-header" data-background-color="default">
                        <h4 class="title" style="font-weight: bold">LogIN</h4>
                    </div>
                    <form [formGroup]="form">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="content">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img-rounded img-responsive img-raised"
                                         src="../../assets/img/faces/avatar.jpg"/>
                                </a>
                            </div>

                            <h6 class="category text-gray">ADMIN</h6>

                            <div class="content" style="padding-right: 20px">

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input formControlName="password" type="text" class="form-control"
                                           placeholder="Password..." #passwordd>
                                </div>

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input formControlName="rePassword" type="text" class="form-control"
                                           placeholder="Re-Enter Password..." #rePasswordd>
                                </div>

                                <br>

                                <div class="card-header" data-background-color="red" style="left: 35%"
                                     *ngIf="password.touched && password.invalid">
                                    <div *ngIf="password.errors.required">Password is required.</div>
                                    <div *ngIf="password.errors.minlength">Password should be minimum 6 characters.
                                    </div>
                                </div>

                                <br *ngIf="password.touched && password.invalid">
                                <br *ngIf="password.touched && password.invalid">

                                <div class="card-header" data-background-color="red" style="left: 35%"
                                     *ngIf="rePassword.touched && rePassword.invalid">
                                    <div *ngIf="rePassword.errors.required">Re-Password is required.</div>
                                    <div *ngIf="rePassword.errors.minlength">Re-Password should be minimum 6 characters.
                                    </div>
                                </div>

                                <br *ngIf="rePassword.touched && rePassword.invalid">
                                <br *ngIf="rePassword.touched && rePassword.invalid">

                                <div class="card-header" data-background-color="default" style="left: 35%">
                                    <h5 class="title">Enter your new password.
                                        Make sure its an unforgettable one.</h5>
                                </div>

                                <br>

                                <button class="btn btn-primary" style="left: 30%">Confirm New Password</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>